<form action="/songs" method="POST">
  <input type="text" name="name" placeholder="name" />
  <input type="text" name="artistName" placeholder="artist name" />
  <input type="text" name="featuredArtist" placeholder="featured artist" />
  <input type="text" name="featuredArtist" placeholder="featured artist" />
  <input type="text" name="releaseDate" placeholder="release date" />
  <input type="text" name="genre" placeholder="genre" />
  <input type="text" name="writer" placeholder="writer's name" />
  <input type="text" name="writer" placeholder="writer's name" />
  <input type="text" name="producers" placeholder="producers name" />
  <input type="text" name="producers" placeholder="producers name" />
  <button type="submit">Create new song</button>
</form>
